<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Set</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <div class="container p-5">
      <div class="row">
        <div class="container">
          <div >
              <h1>Set  <%= name %> is Added successfully</h1>
                <img src="<%= img %>" alt="<%= name %>"width="200" height="200" align="center" valign="center">
          </div>

        </div>
          <div class="col-sm-5 bg-light border rounded py-3">
              <form action="/managerHome" method="POST" enctype="multipart/form-data">

                  <button type="submit" class="btn btn-primary">Back to manager page</button>
              </form>
          </div>

        </div>
      </div>
</body>
</html>
