@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-one {
    background-color: #ccc;
    background-position: center;
    height: 20vh;
    padding: 0 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.swiper-container {
    height: 40px;
    width: 50%;
    top: -100px;
    align-items: center;
    border-radius: 10px;
    border-color: #808080;
    overflow: hidden;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
